<link rel="import" href="../polymer/polymer.html">

<dom-module id="cotton-timeline-item">
    <template>
        <div id="item">[[date]]</div>
    </template>

    <style>
        :host {
            font-size: 10pt;
            color: #888;
            text-align: right;
        }
    </style>

    <script>
        Polymer({
            is: 'cotton-timeline-item',

            properties: {
                date: Object,
                height: { type: Number, observer: '_refreshHeight' }
            },

            _refreshHeight : function() {
                if (this.height == "0") return;
                this.$.item.style.height = this.height + "px";
            },

        });
    </script>
</dom-module>
