<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cotton-timeline-item.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/editor-icons.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<script src="../moment/min/moment-with-locales.min.js"></script>

<dom-module id="cotton-timeline">
    <template>
        <div class="toolbar top layout horizontal center justified">
            <paper-icon-button id="lastButton" icon="editor:vertical-align-top" on-tap="_last"></paper-icon-button>
            <content select=".toolbar-top"></content>
            <paper-icon-button id="nextButton" icon="icons:arrow-upward" on-tap="_next"></paper-icon-button>
        </div>
        <div id="timeline" class="timeline layout vertical">
            <div id="current" class="cursor current"></div>
            <div id="cursor" class="cursor"><div id="cursorInfo">[[_cursorDate]]</div></div>
            <template is="dom-repeat" items="[[_checkPoints]]">
                <cotton-timeline-item date="[[item.date]]" height="[[item.height]]"></cotton-timeline-item>
            </template>
        </div>
        <div class="toolbar bottom layout horizontal center justified">
            <paper-icon-button id="firstButton" icon="editor:vertical-align-bottom" on-tap="_first"></paper-icon-button>
            <content select=".toolbar-bottom"></content>
            <paper-icon-button id="beforeButton" icon="icons:arrow-downward" on-tap="_before"></paper-icon-button>
        </div>
    </template>

    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            position: relative;
        }
        :host .toolbar.top {
            border-bottom: 1px dotted #ddd;
            margin-bottom: 10px;
            padding-bottom: 5px;
        }
        :host .toolbar.bottom {
            border-top: 1px dotted #ddd;
            padding-top: 5px;
            margin-top: 10px;
        }
        :host paper-icon-button {
            padding: 0;
            margin: 0 4px;
            display: block;
            height: 18px;
            width: 18px;
        }
        :host .timeline {
            position: relative;
            cursor: row-resize;
            height: calc(100% - 75px);
            min-height: 100px;
        }
        :host, :host .timeline {
            display: block;
        }
        :host:hover .cursor {
            display: block;
        }
        :host .cursor {
            height: 1px;
            border-bottom-size: 2px;
            border-bottom-style: solid;
            display: none;
            position: absolute;
            width: 100%;
        }
        :host .cursor.current {
            border-bottom-color: red;
            display: block;
            z-index: 1;
            top: 0;
        }
        :host .cursor div {
            position: absolute;
            left: -125px;
            background: black;
            color: white;
            opacity: 0.8;
            padding: 4px 10px;
            border-radius: 2px;
            width: 100px;
            text-align: center;
            font-size: 11pt;
            z-index: 2;
        }
        @media screen and (max-width: 540px) {
            :host {
                width: 65px;
            }
            :host cotton-timeline-item {
                font-size: 8pt;
            }
            :host #lastButton, :host #firstButton {
                display: none;
            }
        }
    </style>

    <script>
        CottonTimelineCheckPointHeight = 40;

        CottonTimelineFormat = {
            es : {
                Minute : "ddd, DD HH:mm",
                MinuteShort : "HH:mm",
                FifteenMinutes : "ddd, DD HH[:]mm",
                FifteenMinutesShort : "HH[:]mm",
                Hour : "ddd, DD HH[:00]",
                HourShort : "HH[:00]",
                SixHours: "ddd, DD HH",
                SixHoursShort: "HH",
                Day : "DD MMM YYYY",
                DayShort : "DD",
                Week : "[sem.]gg YYYY",
                Month : "MMM YYYY",
                QuarterOfYear : "[Q]Q YYYY",
                Year : "YYYY"
            },
            en : {
                Minute : "ddd, DD HH:mm",
                MinuteShort : "HH:mm",
                FifteenMinutes : "ddd, DD HH[:]mm",
                FifteenMinutesShort : "HH[:]mm",
                Hour : "ddd, DD HH[:00]",
                HourShort : "HH[:00]",
                SixHours: "ddd, DD HH",
                SixHoursShort: "HH",
                Day : "DD MMM YYYY",
                DayShort : "DD",
                Week : "[week] gg YYYY",
                Month : "MMM YYYY",
                QuarterOfYear : "[Q]Q YYYY",
                Year : "YYYY"
            }
        };

        Polymer({
            is: 'cotton-timeline',
            lastDay: null,

            MinuteMillis: 60000,
            FifteenMinutesMillis: 900000,
            HourMillis: 3600000,
            SixHoursMillis: 21600000,
            DayMillis: 86400000,
            WeekMillis: 86400000*7,
            MonthMillis: 86400000*30,
            QuarterOfYearMillis: 86400000*30*4,
            YearMillis: 86400000*365,

            properties: {
                range: { type: Object, observer: '_render', value: function() { return null; } },
                scale: { type: String, observer: '_render', value: function() { return "Day" } },
                language : { type: String, observer: '_render', value: function() { return "es"; } },
                countCheckPoints : { type: Number, observer: '_render', value: function() { return 5; } },
                _checkPoints: Array,
                _cursorDate: String,
                currentDate: Object
            },

            behaviors: [ Polymer.IronResizableBehavior ],
            listeners: { 'iron-resize': '_refresh' },

            attached : function() {
                this._addListeners();
            },

            update : function(longDate) {
                this.currentDate = new Date(longDate);
                this._refreshCurrent();
            },

            _addListeners : function() {
                var widget = this;
                var timeline = this.$.timeline;
                timeline.addEventListener("mousemove", function(e) { widget._refreshCursor(e.clientX, widget._calculateY(e.clientY)); });
                timeline.addEventListener("click", function(e) { widget._selectCurrent(widget._calculateY(e.clientY)); });
                timeline.addEventListener("dblclick", function(e) { widget._fireTapTimeline(e); });
                this.$.nextButton.addEventListener("mouseup", function(e) { widget._stopCyclic(); });
                this.$.nextButton.addEventListener("mousedown", function(e) { widget._cyclicNext(); });
                this.$.beforeButton.addEventListener("mouseup", function(e) { widget._stopCyclic(); });
                this.$.beforeButton.addEventListener("mousedown", function(e) { widget._cyclicBefore(); });
            },

            _calculateY : function(clientY) {
                var y = clientY-this.$.timeline.getBoundingClientRect().top;
                if (y < 0) y = 0;
                if (y > (this.$.timeline.offsetHeight + 15)) y = this.$.timeline.offsetHeight;
                return y;
            },

            _refreshCursor : function(x, y) {
                this._cursorDate = this._format(this._calculateDate(y), true);
                var cursorInfoHeight = this.$.cursorInfo.offsetHeight;
                this._refreshCursorTop(y, cursorInfoHeight);
                this._refreshCursorLeft(x);
            },

            _refreshCursorTop : function(y, cursorInfoHeight) {
                var height = this.$.timeline.offsetHeight;
                var top = "-10px";
                this.$.cursor.style.top = (y-2) + "px";
                if (y+cursorInfoHeight >= height) top = "-20px";
                else if (y < 40) top = "0";
                this.$.cursorInfo.style.top = top;
            },

            _refreshCursorLeft : function(x) {
                var width = this.$.cursor.offsetWidth;
                var documentWidth = document.body.clientWidth;
                var timelineWidth = this.$.timeline.offsetWidth;
                var leftOverflow = (x-this.$.cursorInfo.offsetWidth) < 0;
                var rightOverflow = (x+width+timelineWidth) > documentWidth;
                if (!leftOverflow && !rightOverflow) return;
                var newLeft = (leftOverflow) ? timelineWidth+5 : -this.$.cursorInfo.offsetWidth-5;
                this.$.cursorInfo.style.left = newLeft + "px";
            },

            _refreshCurrent : function() {
                this.$.current.style.top = this._calculateTop(this.currentDate) + "px";
            },

            _selectCurrent : function(y) {
                if (this.clickTimeout) window.clearTimeout(this.clickTimeout);

                var widget = this;
                this.clickTimeout = window.setTimeout(function() {
                    if (widget.dblclickFired) {
                        widget.dblclickFired = false;
                        return;
                    }
                    widget._updateCurrent(widget._calculateDate(y), widget.$.cursor.style.top);
                }, 300);
            },

            _updateCurrent : function(date, datePos) {
                this.$.current.style.top = datePos;
                this.currentDate = date;
                this.fire("select", this.currentDate);
            },

            _render : function() {
                if (!this._configured()) return;
                this.lastDay = null;
                this.currentDate = new Date(this.range.max);
                this._refresh();
            },

            _refresh : function() {
                if (!this._configured()) return;
                this._renderCheckPoints();
            },

            _configured : function() {
                return this.range != null && this.scale != null && this.language != null;
            },

            _renderCheckPoints : function() {
                var millisCount = this.range.max - this.range.min;
                var countCheckPoints = this.$.timeline.offsetHeight/CottonTimelineCheckPointHeight;
                var pointLength = millisCount / countCheckPoints;
                this._checkPoints = this._createCheckPoints(countCheckPoints, pointLength);
            },

            _createCheckPoints : function(countCheckPoints, pointLength) {
                var height = Math.floor((this.$.timeline.offsetHeight-countCheckPoints) / countCheckPoints);
                var current = this.range.max;
                var checkPoints = [];
                for (var i=0; i<=countCheckPoints; i++) {
                    var checkPoint = this._format(new Date(current - (i*pointLength)));
                    checkPoints.push({ date: checkPoint, height: i==countCheckPoints ? 0 : height });
                }
                return checkPoints;
            },

            _calculateDate : function(position) {
                var totalHeight = this.$.timeline.offsetHeight;
                var totalMillis = this.range.max - this.range.min;
                return new Date(this.range.max - Math.floor(position*totalMillis/totalHeight));
            },

            _calculateTop : function(date) {
                var totalHeight = this.$.timeline.offsetHeight;
                var totalMillis = this.range.max - this.range.min;
                var currentMillis = this.range.max - date.getTime();
                return currentMillis*totalHeight/totalMillis;
            },

            _format : function(date, full) {
                moment.locale(this.language);
                return moment(date).format(this._pointFormat(date, full));
            },

            _pointMillis : function() {
                return this[this.scale + "Millis"];
            },

            _pointFormat : function(date, full) {
                var formats = CottonTimelineFormat[this.language];
                var formatName = this.scale + (!full && this._sameDay(date) ? "Short" : "");
                this.lastDay = date;
                return formats[formatName] != null ? formats[formatName] : formats[this.scale];
            },

            _isTimeScale : function() {
                return this.scale == "Minute" || this.scale == "FifteenMinutes" || this.scale == "Hour" || this.scale == "SixHours";
            },

            _sameDay : function(date) {
                if (this.lastDay == null) return false;
                var newYear = moment(date).year();
                var newDay = moment(date).dayOfYear();
                var lastYear = moment(this.lastDay).year();
                var lastDay = moment(this.lastDay).dayOfYear();
                return newYear == lastYear && newDay == lastDay;
            },

            _cyclic : function(method) {
                var widget = this;
                this.cyclic = window.setTimeout(function() { method(); widget._cyclic(method); }, 50);
            },

            _stopCyclic : function() {
                window.clearTimeout(this.cyclic);
            },

            _cyclicBefore : function() {
                this._cyclic(this._before.bind(this));
            },

            _before : function(e) {
                this.fire("before", this.currentDate);
            },

            _cyclicNext : function() {
                this._cyclic(this._next.bind(this));
            },

            _last : function() {
                this._updateCurrent(new Date(this.range.max), 0);
            },

            _first : function() {
                var date = new Date(this.range.min);
                this._updateCurrent(date, this._calculateTop(date));
            },

            _next : function() {
                this.fire("next", this.currentDate);
            },

            _fireTapTimeline : function(e) {
                this.dblclickFired = true;
                this.fire("tap-timeline");
                e.stopPropagation();
            },

        });
    </script>
</dom-module>
